html, body, iframe, #install {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
}

iframe {
    border: none;
}

button {
    background-color: #FFB734;
    border: 1px solid #FFB734;
    color: white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

button.wait {
    cursor:not-allowed;
    opacity: 0.5;
}

button:hover {
    background-color: #ffa501;
    border-color: #f69f00;
}

button:focus {
    outline: none;
}

button:active {
    background-color: #ffa501;
    border-color: #b47400;
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

#install {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    display: none;
}

@media all and (display-mode: standalone) {
    iframe {
        display: block;
    }
    #install {
        display: none;
    }
}